.header{
    width: 100%;
    background-color: rgb(255,255,255);
    min-height: 150px;
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
    border-radius: 8px;
    max-height: 600px;
    padding: 8px;

}
.edit{
    width: 100%;
    background-color: rgb(255,255,255);
    min-height: 150px;
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
    border-radius: 8px;
    max-height: 600px;
    padding: 8px;
    margin-left: 400px;
}