.wrapper{
    display: flex;
    justify-content: center;
}
.container{
    background-color: #333;
    width:var(--default-layout-width) ;
    min-height: 1000px;
    display:flex;/// nằm 1 trục nằm ngang
    max-width: 100%;
}
.content{
    box-shadow: inset rgba(0, 0, 0, 0.12) -1px 1px 1px 0px;
    background-color:rgb(255 255 255);
    min-height: 1000px ;
    flex: 1;
}